{% extends 'base.html.twig' %}

{% block title %}Hello CalendarController!{% endblock %}

{% block body %}

<ul>

{% for event in events %}

<li>
    <div>
        <strong>Début:</strong> {{ event.start|date('Y-m-d H:i:s') }}
    </div>
    <div>
        <strong>Fin:</strong> {{ event.end|date('Y-m-d H:i:s') }}
    </div>
    <div>
        <strong>Utilisateur:</strong> {{ event.users.firstname }} {{ event.users.lastname }}
    </div>
    <div>
        <strong>Chambre:</strong> {{ event.chambers.chambername }}
    </div>
    <div>
        <strong>Privatisation:</strong> {{ event.privatisation ? 'Oui' : 'Non' }}
    </div>
</li>

{% endfor %}

</ul>

{% endblock %}
