


{% block body %}

{# Calendar #}
<div id='calendar'></div>

{% endblock %}


{% block javascripts %} 

    {# FullCalendar Script 1 #}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    
    {# FullCalendar Script (2) : Paramétrage du FullCalendar #}
    <script>
    
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {          
          initialView: 'dayGridWeek',
          weekends: true,
          dayHeaderFormat: { weekday: 'long' },
          locale: 'fr',
          firstDay: '1',
          height : '80%',
          aspectRatio: 1,
          displayEventTime: false,
          headerToolbar: {
            left: 'myCustomButton',
            center: 'title' ,
            right: 'prev,dayGridWeek,dayGridMonth,next'
          },
        events: {{ datas|raw }},
          customButtons: {
            myCustomButton: {
              text: 'Nouvelle réservation',
              click: function() {
                window.location.href = "{{ path('app_reservation') }}";
              }
            }
          },
          buttonText: {
            today: 'aujourd\'hui',
            month: 'mois',
            week: 'semaine',
            day: 'jour',
            list: 'liste'
            },
        eventContent: function(arg) {
            let containerEl = document.createElement('div')

            let avatarEl = document.createElement('img')
            avatarEl.src = arg.event.extendedProps.userAvatarUrl
            avatarEl.style.width = '30px'
            avatarEl.style.height = '30px'
            avatarEl.style.borderRadius = '50%'
            avatarEl.style.marginRight = '10px'

            let textEl = document.createElement('span')
            textEl.innerHTML = arg.event.title

            containerEl.appendChild(avatarEl)
            containerEl.appendChild(textEl)

            return { domNodes: [containerEl] }
        }, 
        });
        calendar.render();
      });
    </script>
    {% endblock %}

    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/calendar.css') }}">
    {# font Poppins #}
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'> 
    {% endblock %}

    

{# <ul>

{% for event in events %}

<li>
    <div>
        <strong>Début:</strong> {{ event.start|date('Y-m-d H:i:s') }}
    </div>
    <div>
        <strong>Fin:</strong> {{ event.end|date('Y-m-d H:i:s') }}
    </div>
    <div>
        <strong>Utilisateur:</strong> {{ event.users.firstname }} {{ event.users.lastname }}
    </div>
    <div>
        <strong>Chambre:</strong> {{ event.chambers.chambername }}
    </div>
    <div>
        <strong>Privatisation:</strong> {{ event.privatisation ? 'Oui' : 'Non' }}
    </div>
</li>

{% endfor %}

</ul> #}


