{% extends 'base.html.twig' %}

{% block title "Utilisateur : " ~ user.username %}

{% block body %}

<h1>{{ user.username }}</h1>

hello c'est un test

<div class="containerfluid">
				<div class="row">
					<div class="col-12 col-md-5 background">
						<a href="#" class="logo"><img src="/assets/img/logo-gettogether-white.svg" alt=""></a>
					</div>


					<div class="col-12 col-md-7 inscription adjust">
						<article class="cardsub">
							<h1>Connexion</h1>
							<div class="subform">
								<div class="inputsub">
									{{ form_start(userForm) }}
									{{ form_errors(userForm) }}
									{{ form_row(userForm.username) }}
									{{ form_row(userForm.password) }}

									<div class="col-8 row">

										{# <div class="col-2">
											{{ form_widget(userForm.stayConnected) }}
										</div>
										<div class="col-10">
											{{ form_label(userForm.stayConnected)  }}
										</div>
									</div> #}

									{{ form_end(userForm) }}
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>


{% endblock %}