<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href= "{{ asset('assets/css/header.css') }}" >
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'> 
</head>

<body>

{# Profil dropdown - Début de la div "Action" #}
<div class="action">
{# Ouverture header #}
<div class="header">
{# Ouverture overlay #}
<div class="headerOverlay">


    <div class="logoRebat">
    <img src="/assets/images/pages/rebatLogo.png" alt="Logo Rebat">
    </div>

    <div class="vide"> </div>

    <div class="profile-container">

      <a href="{{ path('user.checkreservation') }}">
      <img src="{{ asset('assets/images/agenda.png')}}" class="myReservations" title="Mes Réservations">
      </a>
      <img src="{{ asset('assets/images/message.png')}}" class="profile-message" title="Mes Messages">
      <a href="{{ path('user.check') }}">
      <img src="{{ asset('assets/images/profileEdit.png')}}" class="profile-edit" title="Mon profil">
      </a>
<div class="profile-pic-container">      
      <img src="{{ asset(photo) }}" alt="User Avatar" class="profile-pic">
      <img src="{{ asset('assets/images/glare2.png')}}" class="glare">
</div>
      <a href="{{ path('app_logout') }}">
      <img src="{{ asset('assets/images/logout.png')}}" class="profile-logout" title="Déconnexion">
      </a>

      {# <h3>{{ currentUser }}<br><span>{{currentUserFirstName}} {{currentUserLastName}}</span></h3> #}
    </div>
{# Fermeture overlay #}
</div>
{# Fermeture header #}
</div>
{# Fermeture ci-dessus de la div Action #}

{# <script src="{{ asset('assets/javascript/menuToggle.js') }}"></script> #}
<script src="{{ asset('assets/javascript/headerMenu.js') }}"></script>

</body>
