<!DOCTYPE html>
<html lang="fr">

{% block head %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('assets/css/map.css') }}">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
{% endblock %}


    {% block header %}

    {% include 'home/header.html.twig' %}

    {% endblock %}

    {% block body %}
<body>

<div class="mapContainer">

        {# Control Panel Etages #}
        <div class="controls">
        <button id="btnRDC">RDC</button>
        <button id="btnPremierEtage">Premier Etage</button>
        <button id="btnDeuxiemeEtage">Deuxieme etage</button>
        </div>

        {# Buttons Etages #}
        <div class="buttons-container">
        <button onclick="updateDisplay('Chambre Bleue')" id="chambreBleue">Chambre Bleue</button>
        <button onclick="updateDisplay('Chambre de Jean-Claude')" id="jeanClaude">Jean-Claude</button>
        <button onclick="updateDisplay('Dortoir des petits')" id="dortoirPetit">Dortoir Petits</button>
        <button onclick="updateDisplay('Dortoir des grands')" id="dortoirGrand">Dortoir Grand</button>
        <button onclick="updateDisplay('Chambre de gauche')" id="gauche">Gauche</button>
        <button onclick="updateDisplay('Chambre Fenêtre')" id="fenetre">Fenêtre</button>
        <button onclick="updateDisplay('Chambre du milieu')" id="milieu">Milieu</button>
        <button onclick="updateDisplay('Chambre d\'Alex')" id="alex">Alex</button>
        <button onclick="updateDisplay('Chambre du fond')" id="fond">Fond</button>
        <button onclick="updateDisplay('Chambre Dehors 1')" id="dehors1">Dehors 1</button>
        <button onclick="updateDisplay('Chambre Dehors 2')" id="dehors2">Dehors 2</button>
        <button onclick="updateDisplay('Chambre Bureau')" id="bureau">Bureau</button>
        <button onclick="updateDisplay('Chambre Nicole')" id="nicole">Nicole</button>
        </div>

    <div class="box">

        <div class="image-container">
        {# Image de base #}
            <img src="{{ asset('assets/images/chambersPlan/fullPlan.png') }}" id="layer0" class="layer" usemap="#plan"/>
        {# Shadow layers #}
            <img src="{{ asset('assets/images/chambersPlan/shapeFirstFloor.png') }}" id="layer1" class="layer overlay" usemap="#firstFloor"/>
            <img src="{{ asset('assets/images/chambersPlan/shapeRdc.png') }}" id="layer2" class="layer overlay" usemap="#RDC"/>
            <img src="{{ asset('assets/images/chambersPlan/shapeSecondFloor.png') }}" id="layer3" class="layer overlay" usemap="#secondFloor"/>
        {# Full Shadow layer #}
            <img src="{{ asset('assets/images/chambersPlan/fullBlackShape.png') }}" id="layer4" class="layer"/>
        {# Shapes éléments animation #}
            <div class="chamber-layer-container">
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre bleue.png') }}" id="chambre1" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre bureau.png') }}" id="chambre2" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre dehors1.png') }}" id="chambre3" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre dehors2.png') }}" id="chambre4" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre dortoirgrand.png') }}" id="chambre5" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre dortoirpetit.png') }}" id="chambre6" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre droite.png') }}" id="chambre7" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre fenetre.png') }}" id="chambre8" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre gauche.png') }}" id="chambre9" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre jc.png') }}" id="chambre10" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre milieu droite.png') }}" id="chambre11" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre milieu.png') }}" id="chambre12" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre nicole.png') }}" id="chambre13" class="chamber-layer"/>
            </div>
        </div>
    </div>

{# Map Coordonnées à décommenter #}

{# <map name="plan">
<area alt="dortoirPetits" title="Sélectionner le dortoir des petits" coords="241,253,401,527" shape="rect" id="dortoirPetits">
<area alt="dortoirFond" title="Sélectionner le dortoir du fond" coords="241,531,401,698" shape="rect" id="dortoirFond">
<area alt="chambrebleue" title="Sélectionner Chambre bleue" coords="619,321,789,488" shape="rect" id="chambreBleue">
<area alt="jean-Claude" title="Sélectionner Jean-Claude" coords="797,266,959,490" shape="rect" id="jean-Claude">
<area alt="alex" title="Sélectionner Alex" coords="843,131,975,253" shape="rect" id="alex">
<area alt="fenetre" title="Sélectionner Fenetre" coords="403,15,601,121" shape="rect" id="fenetre">
<area alt="fond" title="Sélectionner Fond" coords="802,16,960,121" shape="rect" id="fond">
<area alt="milieu" title="Sélectionner Milieu" coords="619,15,777,123" shape="rect" id="milieu">
<area alt="nicole" title="Sélectionner Nicole" coords="20,18,191,126" shape="rect" id="nicole">
<area alt="gauche" title="Sélectionner Gauche" coords="401,132,527,253" shape="rect" id="gauche">
<area alt="dehors1" title="Sélectionner Dehors1" coords="805,527,866,597" shape="rect" id="dehors1">
<area alt="dehors2" title="Sélectionner Dehors2" coords="869,527,928,596" shape="rect" id="dehors2">
<area alt="bureau" title="Sélectionner Bureau" coords="46,341,170,653" shape="rect" id="bureau">
</map> #}

<div class="validation-container">
<div class="display-box"  id="displayBox">...</div>
<i class="fa-solid fa-check check"></i>
</div>

{# div fin du mapContainer #}
</div>
<button id="toggleButton">Toggle</button>

</body>
    {% endblock %}

    {% block javascripts %}
    <script src="{{ asset('assets/javascript/mapLayers.js') }}"></script>
    <script src="{{ asset('assets/javascript/mapresizer.min.js') }}"></script>
    <script src="{{ asset('assets/javascript/imagemapevent2.js') }}"></script>
    <script src="{{ asset('assets/javascript/buttonHoverMap.js') }}"></script>
    <script>
    function updateDisplay(name) {document.getElementById('displayBox').textContent = name;}
    </script>
    <script>
      imageMapResize();
    </script>

    {# Toggle Button for map #}
     <script>
        const button = document.getElementById('toggleButton');
        const mapContainer = document.querySelector('.mapContainer');

        button.addEventListener('click', () => {
            if (mapContainer.classList.contains('show')) {
                mapContainer.classList.remove('show');
                mapContainer.classList.add('hide');
                // Pour garder la div cachée après l'animation de zoom-out
                setTimeout(() => {
                    mapContainer.style.visibility = 'hidden';
                    mapContainer.classList.remove('hide');
                }, 700); // Correspond à la durée de l'animation
            } else {
                mapContainer.style.visibility = 'visible';
                mapContainer.classList.add('show');
            }
        });
    </script>
    {% endblock %}

    {# Chargement du fichier CSS mapAreas #}
    {% block css_end %}
    <link rel="stylesheet" href="{{ asset('assets/css/mapAreas.css') }}">
    {% endblock %}
</html>
