<!DOCTYPE html>
<html lang="fr">

{% block head %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('assets/css/map2.css') }}">
</head>
{% endblock %}

<body>

    {% block body %}
    {% include 'home/header.html.twig' %}

    {# Contient l'image en PNG/JPEG et l'image en SVG en overlay #}
    <div class="box">
        <div class="image-container">
            {# <img src="{{ asset('assets/images/chambersPlan/fullPlan.png') }}" id="layer0" class="background-image responsive"/> #}
            <img src="{{ asset('assets/images/chambersPlan/fullPlan.png') }}" id="layer0" class="layer"/>
            <img src="{{ asset('assets/images/chambersPlan/shapeFirstFloor.png') }}" id="layer1" class="layer overlay"/>
            <img src="{{ asset('assets/images/chambersPlan/shapeRdc.png') }}" id="layer2" class="layer overlay"/>
            <img src="{{ asset('assets/images/chambersPlan/shapeSecondFloor.png') }}" id="layer3" class="layer overlay"/>  
        </div>
    </div>

    {% endblock %}
</body>
</html>
