
{% block head %}
<head>
<meta charset='utf-8' />    
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ asset('assets/css/reservation.css') }}">
</head>
{% endblock %}


{% block body %}

{% include 'home/header.html.twig' %}

<body>
<div class="bodyOverlay">
<div class="formSheetContainer" id="formSheetContainer">

    <div id="formSheet">
    
    {# Messages d'erreur / de succès #}
        {% for messages in app.flashes %}
        {% for message in messages %}
            <div class="alert-error">
                {{ message }}
            </div>
            {% endfor %}
        {% endfor %}

        <h1>Réservation</h1>
            {# Ouverture du formulaire #}
            <form method="post" action="{{ path('app_persistreservation') }}">
            {# DatePicker jQuery #}
            {% include 'datePicker/datepicker.html.twig' %}

                <div class='datepicker_container'>
                    <label for="from">Date d'arrivée</label> &nbsp;
                    <button id="buttonWhoBooked" type="button">></button>
                    <input type="text" id="from" name="from" autocomplete="off" value=""> &nbsp;
                    <label for="to">Date de départ </label> &nbsp;
                    <input type="text" id="to" name="to" autocomplete="off" value=""> &nbsp;
                </div>

            {# (form) Sélection de la chambre #}
            <p class="formLine">
            <label for="to">Sélectionnez votre chambre</label> &nbsp;
            <button id="buttonMap" type="button">></button>
            <div class="validation-container">
                <div class="display-box"  id="displayBox">...</div>
            </div>
            <input type="hidden" id="chamberInput" name="chambername" value="">
            </p>

            <br>

            {# (form) Ajout facultatif de membres #}
            <p class="formLine">
            <label for="username">Rajoutez des membres ?</label><br>
            <input type="text" id="userSearch" placeholder="Rechercher un membre..." />
            <button id="buttonAddReservations" type="button">></button>
            <ul id="user-list" class="user-list"></ul>
            <input type="hidden" name="username" value="{{ currentUserId }}">
            </p>
            <p class="formLine">
                <div id="selectedUsersContainer"></div>
            </p>
            <input type="hidden" id="selectedUsers" name="selectedUsers">

            {# DIV Contenant les membres ajoutés #}
            <div class="members">
            <div class="membersBox">
            </div>
            </div>

            {# Soumettre le formulaire #}
            <p class="formLine">
                <button type="submit">Réserver</button>
            </p>
            </form>
    </div>


    {# DIV USER BOOKINGS #}
    <div id="usersBookingContainer">
    <ul class="bookingList">
    </ul>
    </div>

    {# DEBUT DIV MAP #}
    <div class="mapContainer">
    <div class="map">

    {# Conteneur d'image #}
    <div class="image-container">
        {# Image de base #}
            <img src="{{ asset('assets/images/chambersPlan/fullPlan.png') }}" id="layer0" class="layer" usemap="#plan"/>
        {# Shadow layers #}
            <img src="{{ asset('assets/images/chambersPlan/shapeFirstFloor.png') }}" id="layer1" class="layer overlay" usemap="#firstFloor"/>
            <img src="{{ asset('assets/images/chambersPlan/shapeRdc.png') }}" id="layer2" class="layer overlay" usemap="#RDC"/>
            <img src="{{ asset('assets/images/chambersPlan/shapeSecondFloor.png') }}" id="layer3" class="layer overlay" usemap="#secondFloor"/>
        {# Full Shadow layer #}
            <img src="{{ asset('assets/images/chambersPlan/fullBlackShape.png') }}" id="layer4" class="layer"/>
        {# Assets des vignettes des chambres #}
            <div class="chamber-layer-container">
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre bleue.png') }}" id="chambre1" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre bureau.png') }}" id="chambre2" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre dehors1.png') }}" id="chambre3" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre dehors2.png') }}" id="chambre4" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre dortoirgrand.png') }}" id="chambre5" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre dortoirpetit.png') }}" id="chambre6" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre droite.png') }}" id="chambre7" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre fenetre.png') }}" id="chambre8" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre gauche.png') }}" id="chambre9" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre jc.png') }}" id="chambre10" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre milieu droite.png') }}" id="chambre11" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre milieu.png') }}" id="chambre12" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre nicole.png') }}" id="chambre13" class="chamber-layer"/>
            </div>
        </div>

        {# Boutons de sélection des chambres #}
        <div class="buttons-container">
        <button data-id="5" data-chambre="Chambre Bleue" id="chambreBleue" class="chambre-btn">Chambre Bleue</button>
        <button data-id="6" data-chambre="Chambre Jean-Claude" id="jeanClaude" class="chambre-btn">JeanClaude</button>
        <button data-id="10" data-chambre="Dortoir des petits" id="dortoirPetit" class="chambre-btn">Dortoir Petits</button>
        <button data-id="11" data-chambre="Dortoir des grands" id="dortoirGrand" class="chambre-btn">Dortoir Grand</button>
        <button data-id="15" data-chambre="Chambre de gauche" id="gauche" class="chambre-btn">Gauche</button>
        <button data-id="8" data-chambre="Chambre Fenêtre" id="fenetre" class="chambre-btn">Fenêtre</button>
        <button data-id="16" data-chambre="Chambre du milieu" id="milieu" class="chambre-btn">Milieu</button>
        <button data-id="7" data-chambre="Chambre d\'Alex" id="alex" class="chambre-btn">Alex</button>
        <button data-id="9" data-chambre="Chambre du fond" id="fond" class="chambre-btn">Fond</button>
        <button data-id="3" data-chambre="Chambre Dehors 1" id="dehors1" class="chambre-btn">Dehors 1</button>
        <button data-id="4" data-chambre="Chambre Dehors 2" id="dehors2" class="chambre-btn">Dehors 2</button>
        <button data-id="14" data-chambre="Chambre Bureau" id="bureau" class="chambre-btn">Bureau</button>
        <button data-id="12" data-chambre="Chambre Nicole" id="nicole" class="chambre-btn">Nicole</button>
        </div>

        {# Boutons de sélection des étages #}
        <div class="controls">
            <button id="btnRDC" style="background: none; border: none;">
                <img src="/assets/images/boutonsEtages/rdc low.png" class="boutonEtage">
            </button>
            <button id="btnPremierEtage" style="background: none; border: none;">
                <img src="/assets/images/boutonsEtages/1er etage low.png" class="boutonEtage">
            </button>
            <button id="btnDeuxiemeEtage" style="background: none; border: none;">
                 <img src="/assets/images/boutonsEtages/2eme etage low.png" class="boutonEtage">
            </button>
        </div>

</div>
</div>
{# FIN DIV MAP #}

{# FIN DU FormSheetContainer #}
</div>

{# Ajouter un lazy waiting screen "synchronisation des vacanciers" ou un truc du genre #}

</body>
{% endblock %}

    {% block javascripts %} 
    {# Confettis #}
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>
    {# Scripts du formulaire #}
    <script src="{{ asset('assets/javascript/chambersMap.js') }}"></script>
    <script src="{{ asset('assets/javascript/optionalAdditionalReservationSearchBar.js') }}"></script>
    <script src="{{ asset('assets/javascript/whoBooked.js') }}"></script>

    {# addFlash #}
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        const alert = document.querySelector('.alert-error');
            setTimeout(function() {
                alert.classList.add('hide');
            }, 2500);
    });
    </script>
    {% endblock %}
