<!DOCTYPE html>
<html lang="fr">

{# https://www.youtube.com/watch?v=45mnmy2JUl0 #}

{% block head %}
<head>
<meta charset='utf-8' />    
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ asset('assets/css/map2.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/reservation.css') }}">
</head>
{% endblock %}

  {% block header %}
  {% include 'home/header.html.twig' %}
  {% endblock %}  

  {% block body %}

<body>
<div class="bodyContainer">
<div class="bodyOverlay">

<div class="container">

<div class="formSheetContainer" id="formSheetContainer">

    <div class="formSheet" id="formSheet">
    
        {# Message d'erreur #}
        {% for type, messages in app.flashes %}
        <div class="alertMessage">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endfor %}

        <h1>Réservation</h1>
            {# Ouverture du formulaire #}
            <form method="post" action="{{ path('app_persistreservation') }}">
            {# DatePicker jQuery #}
            {% include 'datePicker/datepicker.html.twig' %}
            <div class='datepicker_container'>
                <label for="from">Date d'arrivée</label> &nbsp;
                <input type="text" id="from" name="from" autocomplete="off" value=""> &nbsp;
                <label for="to">Date de départ </label> &nbsp;
                <input type="text" id="to" name="to" autocomplete="off" value=""> &nbsp;
            </div>

            <p class="formLine">
            <label for="to">Sélectionnez votre chambre</label> &nbsp;
            <button id="toggleButton" type="button">></button>
            <div class="validation-container">
                <div class="display-box"  id="displayBox">...</div>
            </div>
            <input type="hidden" id="chamberInput" name="chambername" value="">
            </p>

            <br>

            <p class="formLine">
            <label for="username">Rajoutez des membres ?</label><br>
            <input type="text" id="userSearch" placeholder="Rechercher un membre..." />
            <button id="toggleMembers" type="button">></button>
            <ul id="user-list" class="user-list"></ul>
            <input type="hidden" name="username" value="{{ currentUserId }}">
            </p>

            <p class="formLine">
                <div id="selectedUsersContainer"></div>
            </p>
            <input type="hidden" id="selectedUsers" name="selectedUsers">

            {# DIV MEMBERS #}
            <div class="members">
            <div class="membersBox">

            </div>
            </div>

            <p class="formLine">
                <button type="submit">Réserver</button>
            </p>
            </form>
    </div>

{# DIV MEMBERS #}
    {# <div class="members">
    <div class="membersBox">

    </div>
    </div> #}

{# DEBUT DIV MAP #}
    <div class="map">
    <div class="box">

    {# Conteneur d'image #}
    <div class="image-container">
        {# Image de base #}
            <img src="{{ asset('assets/images/chambersPlan/fullPlan.png') }}" id="layer0" class="layer" usemap="#plan"/>
        {# Shadow layers #}
            <img src="{{ asset('assets/images/chambersPlan/shapeFirstFloor.png') }}" id="layer1" class="layer overlay" usemap="#firstFloor"/>
            <img src="{{ asset('assets/images/chambersPlan/shapeRdc.png') }}" id="layer2" class="layer overlay" usemap="#RDC"/>
            <img src="{{ asset('assets/images/chambersPlan/shapeSecondFloor.png') }}" id="layer3" class="layer overlay" usemap="#secondFloor"/>
        {# Full Shadow layer #}
            <img src="{{ asset('assets/images/chambersPlan/fullBlackShape.png') }}" id="layer4" class="layer"/>
        {# Shapes éléments animation #}
            <div class="chamber-layer-container">
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre bleue.png') }}" id="chambre1" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre bureau.png') }}" id="chambre2" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre dehors1.png') }}" id="chambre3" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre dehors2.png') }}" id="chambre4" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre dortoirgrand.png') }}" id="chambre5" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre dortoirpetit.png') }}" id="chambre6" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre droite.png') }}" id="chambre7" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre fenetre.png') }}" id="chambre8" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre gauche.png') }}" id="chambre9" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre jc.png') }}" id="chambre10" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre milieu droite.png') }}" id="chambre11" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre milieu.png') }}" id="chambre12" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre nicole.png') }}" id="chambre13" class="chamber-layer"/>
            </div>
        </div>

        {# Buttons Etages #}
        <div class="buttons-container">

        <button data-id="5" data-chambre="Chambre Bleue" id="chambreBleue" class="chambre-btn">Chambre Bleue</button>
        <button data-id="6" data-chambre="Chambre Jean-Claude" id="jeanClaude" class="chambre-btn">Jean-Claude</button>
        <button data-id="10" data-chambre="Dortoir des petits" id="dortoirPetit" class="chambre-btn">Dortoir Petits</button>
        <button data-id="11" data-chambre="Dortoir des grands" id="dortoirGrand" class="chambre-btn">Dortoir Grand</button>
        <button data-id="15" data-chambre="Chambre de gauche" id="gauche" class="chambre-btn">Gauche</button>
        <button data-id="8" data-chambre="Chambre Fenêtre" id="fenetre" class="chambre-btn">Fenêtre</button>
        <button data-id="16" data-chambre="Chambre du milieu" id="milieu" class="chambre-btn">Milieu</button>
        <button data-id="7" data-chambre="Chambre d\'Alex" id="alex" class="chambre-btn">Alex</button>
        <button data-id="9" data-chambre="Chambre du fond" id="fond" class="chambre-btn">Fond</button>
        <button data-id="3" data-chambre="Chambre Dehors 1" id="dehors1" class="chambre-btn">Dehors 1</button>
        <button data-id="4" data-chambre="Chambre Dehors 2" id="dehors2" class="chambre-btn">Dehors 2</button>
        <button data-id="14" data-chambre="Chambre Bureau" id="bureau" class="chambre-btn">Bureau</button>
        <button data-id="12" data-chambre="Chambre Nicole" id="nicole" class="chambre-btn">Nicole</button>
        </div>

        {# Control Panel Etages #}
        <div class="controls">
            <button id="btnRDC" style="background: none; border: none;">
                <i class="fa-solid fa-arrow-down" style="font-size: 24px;"></i>
            </button>
            
            <button id="btnPremierEtage" style="background: none; border: none;">
                <i class="fa-solid fa-circle" style="font-size: 24px;"></i>
            </button>
            
            <button id="btnDeuxiemeEtage" style="background: none; border: none;">
                <i class="fa-solid fa-arrow-up" style="font-size: 24px;"></i>
            </button>
        </div>

</div>
</div>
{# FIN DIV MAP #}

{# FIN DU FormSheetContainer #}
</div>

{# Ajouter un lazy waiting screen "synchronisation des vacanciers" ou un truc du genre #}

</div>
</div>
</body>
{% endblock %}

    {% block javascripts %} 
    <script src="{{ asset('assets/javascript/mapLayers.js') }}"></script>
    <script src="{{ asset('assets/javascript/buttonHoverMap.js') }}"></script>
    <script src="{{ asset('assets/javascript/buttonsMicroAnimations.js') }}"></script>
    <script src="{{ asset('assets/javascript/mapDisplayButton.js') }}"></script>
    <script src="{{ asset('assets/javascript/usersDisplayButton.js') }}"></script>
    <script src="{{ asset('assets/javascript/searchUser.js') }}"></script>
    {# <script src="{{ asset('assets/javascript/mapresizer.min.js') }}"></script> Ajouter fonction mapResize();#}

    {% endblock %}
</html>