<!DOCTYPE html>
<html lang="fr">

{# https://www.youtube.com/watch?v=45mnmy2JUl0 #}

{% block head %}
<head>
<meta charset='utf-8' />    
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ asset('assets/css/map2.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/reservation.css') }}">
</head>
{% endblock %}

  {% block header %}
  {% include 'home/header.html.twig' %}
  {% endblock %}  

  {% block body %}

<body>
<div class="bodyContainer">
<div class="bodyOverlay">

<div class="container">

    <div class="formSheet">

        <h1>Réservation</h1>
            {# Ouverture du formulaire #}
            <form method="post" action="{{ path('app_persistreservation') }}">
            {# DatePicker jQuery #}
            {% include 'datePicker/datepicker.html.twig' %}
            <div class='datepicker_container'>
                <label for="from">Date de d'arrivée</label> &nbsp;
                <input type="text" id="from" name="from" autocomplete="off"> &nbsp;
                <label for="to">Date de départ </label> &nbsp;
                <input type="text" id="to" name="to" autocomplete="off"> &nbsp;
            </div>

            <p class="formLine">
            <button id="toggleButton" type="button">Sélectionnez une chambre</button>
            <div class="validation-container">
            <div class="display-box"  id="displayBox">...</div>
            {# <i class="fa-solid fa-check check"></i> #}
            </div>
            </p>

            <p class="formLine">
            <label for="username">Ajoutez un utilisateur :</label>
            <select id="username" name="username">
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
            </select>
            </p>

            <p class="formLine">
                <label for="privatisation">Privatisation ? :</label>
                <input type="checkbox" id="privatisation" name="privatisation">
            </p>
            
            <p class="formLine">
                <button type="submit">Ajouter</button>
            </p>
            </form>
    </div>

{# DEBUT DIV MAP #}
    <div class="map">
    <div class="box">

    {# Conteneur d'image #}
    <div class="image-container">
        {# Image de base #}
            <img src="{{ asset('assets/images/chambersPlan/fullPlan.png') }}" id="layer0" class="layer" usemap="#plan"/>
        {# Shadow layers #}
            <img src="{{ asset('assets/images/chambersPlan/shapeFirstFloor.png') }}" id="layer1" class="layer overlay" usemap="#firstFloor"/>
            <img src="{{ asset('assets/images/chambersPlan/shapeRdc.png') }}" id="layer2" class="layer overlay" usemap="#RDC"/>
            <img src="{{ asset('assets/images/chambersPlan/shapeSecondFloor.png') }}" id="layer3" class="layer overlay" usemap="#secondFloor"/>
        {# Full Shadow layer #}
            <img src="{{ asset('assets/images/chambersPlan/fullBlackShape.png') }}" id="layer4" class="layer"/>
        {# Shapes éléments animation #}
            <div class="chamber-layer-container">
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre bleue.png') }}" id="chambre1" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre bureau.png') }}" id="chambre2" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre dehors1.png') }}" id="chambre3" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre dehors2.png') }}" id="chambre4" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre dortoirgrand.png') }}" id="chambre5" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre dortoirpetit.png') }}" id="chambre6" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre droite.png') }}" id="chambre7" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre fenetre.png') }}" id="chambre8" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre gauche.png') }}" id="chambre9" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre jc.png') }}" id="chambre10" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre milieu droite.png') }}" id="chambre11" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre milieu.png') }}" id="chambre12" class="chamber-layer"/>
            <img src="{{ asset('assets/images/chambersPlan/elements/el chambre nicole.png') }}" id="chambre13" class="chamber-layer"/>
            </div>
        </div>

        {# Control Panel Etages #}
        <div class="controls">

        <button id="btnRDC" style="background: none; border: none;">
            <i class="fa-solid fa-arrow-down" style="font-size: 24px;"></i>
        </button>
        
        <button id="btnPremierEtage" style="background: none; border: none;">
            <i class="fa-solid fa-circle" style="font-size: 24px;"></i>
        </button>
        
        <button id="btnDeuxiemeEtage" style="background: none; border: none;">
            <i class="fa-solid fa-arrow-up" style="font-size: 24px;"></i>
        </button>
       
        </div>

        {# Buttons Etages #}
        <div class="buttons-container">

        <button onclick="updateDisplay('Chambre Bleue')" id="chambreBleue" class="brique1">Chambre Bleue</button>
        <button onclick="updateDisplay('Chambre de Jean-Claude')" id="jeanClaude" class="brique1">Jean-Claude</button>
        <button onclick="updateDisplay('Dortoir des petits')" id="dortoirPetit" class="brique1">Dortoir Petits</button>
        <button onclick="updateDisplay('Dortoir des grands')" id="dortoirGrand" class="brique1">Dortoir Grand</button>
        <button onclick="updateDisplay('Chambre de gauche')" id="gauche" class="brique1">Gauche</button>
        <button onclick="updateDisplay('Chambre Fenêtre')" id="fenetre" class="brique1">Fenêtre</button>
        <button onclick="updateDisplay('Chambre du milieu')" id="milieu" class="brique1">Milieu</button>
        <button onclick="updateDisplay('Chambre d\'Alex')" id="alex" class="brique1">Alex</button>
        <button onclick="updateDisplay('Chambre du fond')" id="fond" class="brique1">Fond</button>
        <button onclick="updateDisplay('Chambre Dehors 1')" id="dehors1" class="brique1">Dehors 1</button>
        <button onclick="updateDisplay('Chambre Dehors 2')" id="dehors2" class="brique1">Dehors 2</button>
        <button onclick="updateDisplay('Chambre Bureau')" id="bureau" class="brique1">Bureau</button>
        <button onclick="updateDisplay('Chambre Nicole')" id="nicole" class="brique1">Nicole</button>
        </div>

</div>
</div>
{# FIN DIV MAP #}

{# Ajouter un lazy waiting screen "synchronisation des vacanciers" ou un truc du genre #}

</div>
</div>
</body>
{% endblock %}

{% block javascripts %} 
    <script src="{{ asset('assets/javascript/mapLayers.js') }}"></script>
    <script src="{{ asset('assets/javascript/mapresizer.min.js') }}"></script>
    <script src="{{ asset('assets/javascript/imagemapevent2.js') }}"></script>
    <script src="{{ asset('assets/javascript/buttonHoverMap.js') }}"></script>
    <script src="{{ asset('assets/javascript/buttonSMicroAnimations.js') }}"></script>
    <script>
    function updateDisplay(name) {document.getElementById('displayBox').textContent = name;}
    </script>
    <script>
      imageMapResize();
    </script>

    {# Toggle Button for map #}
     <script>
        const button = document.getElementById('toggleButton');
        {# const mapContainer = document.querySelector('.mapContainer'); #}
        const box = document.querySelector('.box');

        button.addEventListener('click', () => {
            if (box.classList.contains('show')) {
                box.classList.remove('show');
                box.classList.add('hide');
                // Pour garder la div cachée après l'animation de zoom-out
                setTimeout(() => {
                    box.style.visibility = 'hidden';
                    box.classList.remove('hide');
                }, 700); // Correspond à la durée de l'animation
            } else {
                box.style.visibility = 'visible';
                box.classList.add('show');
            }
        });
    </script>
    {% endblock %}
    </html>