{# {% extends 'base.html.twig' %} #}


{% block stylesheets %}
   <link rel="stylesheet" href="{{ asset('assets/css/register.css') }}">
   <link rel="stylesheet" href="{{ asset('assets/css/testCropper.css') }}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.css" integrity="sha512-UtLOu9C7NuThQhuXXrGwx9Jb/z9zPQJctuAgNUBK3Z6kkSYT9wJ+2+dh6klS+TDBCV9kNPBbAxbVD+vCcfGPaA==" crossorigin="anonymous" referrerpolicy="no-referrer" />  
{% endblock %}

{% block body %}
  <body>
    <div class="bodyContainer">
        <div class="bodyOverlay">

{# Messages d'erreur / de succès #}
        {% for messages in app.flashes %}
        {% for message in messages %}
            <div class="alert-error">
                {{ message }}
            </div>
            {% endfor %}
        {% endfor %}

            <div class="bigContainer">
                <div class="registrationSheet">


    <h1>Register</h1>

    <form action="{{ path('app_persistregistration') }}" method="POST" enctype="multipart/form-data">
        
        <div class="form-group">
            <label for="username">Nom d'utilisateur</label>
            <input type="text" id="username" name="username" value="{{ app.request.get('username') }}" required>
        </div>

        <div class="form-group">
            <label for="firstname">Prénom</label>
            <input type="text" id="firstname" name="firstname" value="{{ app.request.get('firstname') }}" required>
        </div>

        <div class="form-group">
            <label for="lastname">Nom</label>
            <input type="text" id="lastname" name="lastname" value="{{ app.request.get('lastname') }}" required>
        </div>

        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="plainPassword" required>
        </div>

        {# Champ de téléchargement de l'image #}
        <div class="form-group">
            <label for="profileImageInput">Photo de profil</label>
            <input type="file" id="profileImageInput" name="profileImage" accept="image/jpeg, image/png, image/gif">
        </div>

        {# Container pour l'outil de recadrage #}
        <div class="container" style="margin-top: 20px;">
            <div class="imageToCropContainer">
                <img id="imageToCrop" style="display: none;">
            </div>
            
            {# Image croppée #}
            <div class="cropOutputContainer">
                <img src="" id="cropOutput" style="max-width: 350px">
            </div>
        </div>

        {# Input caché contenant l'image #}
        <input type="file" id="croppedImageJPGFile" name="croppedImageJPGFile" style="visibility:hidden">

        <button type="button" id="cropImageBtn">Crop!</button>

        <div>
        <p>
            <input type="checkbox" name="agreeTerms" value="1" id="agreeTerms" required>
            <label for="agreeTerms">J'accepte les termes</label>
        </p>
        </div>

        <div class="form-group">
            <button type="submit" class="btn">Register</button>
        </div>

    </form>

          </div>
        </div>
      </div>
    </div>
  </body>
{% endblock %}

{% block javascripts %} 
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.js" integrity="sha512-JyCZjCOZoyeQZSd5+YEAcFgz2fowJ1F1hyJOXgtKu4llIa0KneLcidn5bwfutiehUTiOuK87A986BZJMko0eWQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{# <script src="{{ asset('assets/javascript/cropperTest.js') }}"> </script> #}
<script src="{{ asset('assets/javascript/cropperProfile.js') }}"></script>
{# addFlash #}
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        const alert = document.querySelector('.alert-error');
            setTimeout(function() {
                alert.classList.add('hide');
            }, 2500);
    });
    </script>
{% endblock %}  
